extends ../wedding

block content
	div.container#content
		div.page-header
			h1= title
		p.lead Join us on <strong>September 6, 2014</strong> at the <strong>Blair Center</strong> in <strong>Westfield Center, OH</strong> for our wedding ceremony and reception.
		div#myCarousel.carousel.slide(data-ride="carousel")
			ol.carousel-indicators
				li.active(data-target="#myCarousel", data-slide-to="0")
				li(data-target="#myCarousel", data-slide-to="1")
				li(data-target="#myCarousel", data-slide-to="2")
				li(data-target="#myCarousel", data-slide-to="3")
				li(data-target="#myCarousel", data-slide-to="4")
				li(data-target="#myCarousel", data-slide-to="5")
				li(data-target="#myCarousel", data-slide-to="6")
				li(data-target="#myCarousel", data-slide-to="7")
				li(data-target="#myCarousel", data-slide-to="8")
				li(data-target="#myCarousel", data-slide-to="9")
				li(data-target="#myCarousel", data-slide-to="10")
				li(data-target="#myCarousel", data-slide-to="11")
			div.carousel-inner
				div.item.active
					img(src="/images/blair-carousel/b-1.jpg")
				div.item
					img(src="/images/blair-carousel/b-2.jpg")
				div.item
					img(src="/images/blair-carousel/b-3.jpg")
				div.item
					img(src="/images/blair-carousel/b-4.jpg")
				div.item
					img(src="/images/blair-carousel/b-5.jpg")
				div.item
					img(src="/images/blair-carousel/b-6.jpg")
				div.item
					img(src="/images/blair-carousel/b-7.jpg")
				div.item
					img(src="/images/blair-carousel/b-8.jpg")
				div.item
					img(src="/images/blair-carousel/b-9.jpg")
				div.item
					img(src="/images/blair-carousel/b-10.jpg")
				div.item
					img(src="/images/blair-carousel/b-11.jpg")
				div.item
					img(src="/images/blair-carousel/b-12.jpg")
			a.left.carousel-control(href="#myCarousel", data-slide="prev")
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href="#myCarousel", data-slide="next")
				span.glyphicon.glyphicon-chevron-right
		h2 Location
		<address><strong>Blair Conference Center</strong><br />9079 S. Leroy Road<br />Westfield Center, OH 44251<br /><abbr title="Phone">P:</abbr> (330) 887-0491<br /><abbr title="Website">W:</abbr> <a class="bodyLink" href="http://www.westfieldinsurance.com/hospitality/blaircenter/pg.jsp?page=blaircenter" target="_blank">Blair Center Website</a><br /><abbr title="Google Map">M:</abbr> <a class="bodyLink" href="http://goo.gl/ygQ6rk" target="_blank">Google Maps Link</a></address>
		h2 Schedule
		ul
			li Ceremony will begin at 5:30 PM
			li Happy Hour from 6:00 PM to 7:00 PM
			li Dinner and cake cutting from 7:00 PM to 8:30 PM
			li Dancing the night away from 8:45 PM to Midnight
		h2 Driving Directions
		p Depending on where you are coming from, follow the directions below to get to the Blair Center.
		h3 From the North
		ul
			li Take I-71 South to Exit #209 (Akron/Lodi exit).
			li Stay to the left and merge onto Route 224 West towards Lodi.
			li Turn left at th efirst light (Lake Road).
			li When Lake Road ends, turn right onto Greenwich Road.
		h3 From the South
		ul
			li Take I-71 North to Exit #209 (Akron/Lodi exit).
			li Merge onto Route 224 West towards Lodi.
			li Turn left at the first light (Lake Road).
			li When Lake Road ends, turn right onto Greenwich Road.
		h3 From the East
		ul
			li Take I-76 West towards Lodi (Route 224).
			li Turn left at the first light (Lake Road) after the I-71 overpass.
			li When Lake Road ends, turn right onto Greenwich Road.
		h3 From the West
		ul
			li Take I-76 East towards Lodi (Route 224).
			li Turn right at the traffic light (Lake Road) before the I-71 overpass.
			li When Lake Road ends, turn right onto Greenwich Road.