extends ../wedding

block content
	div.container#content
		div.page-header
			h1= title
		h2 Hotel Accommodations
		p For reservations, call the front desk at <strong>330.887.6701</strong> or email <a href="mailto:westfieldinnreservations@westfieldgrp.com">westfieldinnreservations@westfieldgrp.com</a>. Remember to mention you are with the Kurtz &amp; Morris wedding to receive the rates listed below up to 3 weeks prior to the wedding.
		p A complimentary breakfast will be included in your Westfield Inn room rate.
		p <a href="http://www.westfieldinsurance.com/hospitality/westfieldinn/pg.jsp?page=inn-rooms" target="_blank">Listing of Room Descriptions <i class="fa fa-external-link"></i></a>
		h3 Current Room Rates
		table.table
			tr
				th
				th Single Occupancy
				th Double Occupancy
				th Triple Occupancy
				th Quad Occupancy
			tr
				td Standard
				td $126.00
				td $151.00
				td $156.00
				td $161.00
			tr
				td Deluxe
				td $148.00
				td $173.00
				td $178.00
				td $183.00
			tr
				td Standard Suite
				td $163.00
				td $188.00
				td $193.00
				td $198.00
			tr
				td Bridal Suite
				td $163.00
				td $188.00
				td $193.00
				td $198.00
			tr
				td Hospitality Suite
				td $323.00
				td $328.00
				td $333.00
				td $338.00
			tr
				td Hospital One Bedroom Suite
				td $226.00
				td $231.00
				td $236.00
				td $241.00
		<address><strong>Westfield Inn</strong><br />6789 Greenwich Road<br />Westfield Center, OH 44251<br /><abbr title="Phone Number">P:</abbr> (330) 887-6700<br /><abbr title="Website">W:</abbr> <a href="http://www.westfieldinsurance.com/hospitality/westfieldinn/pg.jsp?page=westfieldinn" target="_blank" class="bodyLink">Westfield Inn Website <i class="fa fa-external-link"></i></a><br /><abbr title="Google Map">M:</abbr> <a class="bodyLink" href="http://goo.gl/egJxsV" target="_blank">Google Maps Link <i class="fa fa-external-link"></i></a></address>