extends ../wedding

block content
	div.container#content
		div.page-header
			h1= title
		h2 Hotel Accommodations
		p If you plan on staying in the area after the reception, we recommend the following hotel. When reserving a room, be sure to say you are part of the Morris-Kurtz wedding.
		<address><strong>Westfield Inn</strong><br />6789 Greenwich Road<br />Westfield Center, OH 44251<br /><abbr title="Phone Number">P:</abbr> (330) 887-6700<br /><abbr title="Website">W:</abbr> <a href="http://www.westfieldinsurance.com/hospitality/westfieldinn/pg.jsp?page=westfieldinn" target="_blank" class="bodyLink">Westfield Inn Website</a><br /><abbr title="Google Map">M:</abbr> <a class="bodyLink" href="http://goo.gl/egJxsV" target="_blank">Google Maps Link</a></address>