extends ../wedding-cover

block content
	h1.cover-heading 09.06.14
	p.lead Our Story
	p.
		Tony and Cindy worked together for years.<br />
		Tony coordinated happy hours. Cindy was always on the list.<br />
		On September 21, 2011, Cindy and Tony both attended a mutual friend's concert.<br />
		While they both arrived to the concert with separate groups,<br />
		they spent more and more time with each other as the night went on.<br />
		A few hours in, and they were cutting up the dance floor together.<br />
		Accidentally dropped bottles couldn't stop them.<br />
		One spin too many, and Cindy's knee decided to stop the dancing.<br />
		This was just the opportunity they both wanted: a chance to talk, to connect.<br />
		Hours passed.<br />
		They went to another bar when the night had ended for everyone else.<br />
		Tony walked Cindy to her car, stealing a kiss in the short elevator ride.<br />
		An amazing evening turned into a second date, and a third.<br />
		Dates turned into a house.<br />
		A house turned into a future.<br />
		Now we are here, and we can't wait to celebrate our future with you.<br />
		We welcome you from the bottom of our hearts.<br /><br />
	a.btn.btn-lg.btn-primary(href="/wedding/ceremony-and-reception") Head on in!