extends ../wedding-cover

block content
	h1.cover-heading 09.06.14
	p.lead Welcome, friends and family, to our wedding website.
	p
		a.btn.btn-lg.btn-primary(href="/wedding/ceremony-and-reception") Head on in!