extends ../wedding

block content
	div.container#content
		div.page-header
			h1= title
		p.lead We have registered at the registries listed below.
		h2
			a.bodyLink(href="http://www.myregistry.com/wedding-registry/Cindy-Kurtz-Tony-Morris-Seville-OH/683667" target="_blank") MyRegistry.com <i class="fa fa-externa-link"></i><br />
			a.bodyLink(href="http://www.amazon.com/gp/registry/registry.html?type=wedding&id=Y7ZXMYKAWB2N&tag=wedch-994-20" target="_blank") Amazon <i class="fa fa-external-link"></i>