doctype html
html
	head
		script.
			if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
				var msViewportStyle = document.createElement('style')
				msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'))
				document.querySelector('head').appendChild(msViewportStyle)
			}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="Cindy and Tony's website")
		meta(name="author", content="@tonytalkstech")
		title= title
		link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/cover.css')
	body
		div.site-wrapper
			div.site-wrapper-inner
				div.cover-container
					div.masthead.clearfix
						div.inner
							h3.masthead-brand Cindy & Tony
							ul.nav.masthead-nav
								li.active
									a(href="/") Home
								li
									a(href="/wedding") Wedding
					div.inner.cover
						block content
					div.mastfoot
						div.inner
							p.muted-text
								ul.list-inline
									li
										a(href="https://www.twitter.com/tonytalkstech", target="_blank") @tonytalkstech
									li
										a(href="https://www.github.com/afmorris/cindy-and-tony", target="_blank") source
		script(src="/jquery/dist/jquery.min.js")
		script(src="/bootstrap/dist/js/bootstrap.min.js")